<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../img/pc/Iconfont-nav/iconfont.css">
    <link rel="stylesheet" href="../css/button/iconfont.css">
    <script src="../js/jquery.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-nav">
            <div class="logo-box">
                <div class="logo">
                    <img src="../img/pc/logo.png" alt="">
                </div>
            </div>
            <div class="navs">
                <div class="nav-top">
                    <span class="iconfont icon-weixin" id="weixin"></span>
                    <span class="iconfont icon-weibo"></span>
                    <div class="nav-top-roll">
                        <a href="#">HTML5中国产业联盟正式挂靠于工信部</a>
                        <a href="#">法院判决APICloud赔付DCloud共计184.48万元并公开道歉</a>
                        <a href="#">DCloud招人啦，工程师、运营快到碗里来</a>
                        <a href="#">法院判决APICloud赔付DCloud共计184.48万元并公开道歉</a>
                        <a href="#">DCloud招人啦，工程师、运营快到碗里来</a>
                        <a href="#">HTML5中国产业联盟正式挂靠于工信部</a>
                    </div>
                </div>
                <div class="nav-bottom">
                    <div><a href="#">首页</a></div>
                    <div><a href="#">文档</a></div>
                    <div><a href="#">社区</a></div>
                    <div><a href="#">插件市场</a></div>
                    <div><a href="#">原生开发者支持</a></div>
                    <div><a href="#">案例</a></div>
                    <div><a href="#">商业许可</a></div>
                    <div><a href="#">求贤</a></div>
                    <div><a href="#">联盟</a></div>
                    <div><a href="#">新冠抗疫</a></div>
                    <div><a href="#">开发者后台</a></div>
                </div>
            </div>
        </div>
        <!-- product -->
        <div class="product">
            <div class="product-container">
                <div class="product-container-left">
                    <div class="product-container-left-title">
                        <h4>开发服务</h4>
                        <span>帮你做好应用</span>
                    </div>
                    <div class="product-container-left-body">
                        <a href="#" class="product-container-left-item">
                            <img src="../img/pc/product-HBuilderX.png" alt="">
                            <div>
                                <h4>HBuilderX</h4>
                                <span>极客开发工具</span>
                            </div>
                        </a>
                        <a href="#" class="product-container-left-item">
                            <img src="../img/pc/product-uni-app.png" alt="">
                            <div>
                                <h4>uni-app</h4>
                                <span>开发一次，多端覆盖</span>
                            </div>
                        </a>
                        <a href="#" class="product-container-left-item">
                            <img src="../img/pc/product-uniCloud.png" alt="">
                            <div>
                                <h4>uniCloud</h4>
                                <span>js开发服务器</span>
                            </div>
                        </a>
                        <a href="#" class="product-container-left-item">
                            <img src="../img/pc/product-w.png" alt="">
                            <div>
                                <h4>wap2app</h4>
                                <span>M站快速转换App</span>
                            </div>
                        </a>
                        <a href="#" class="product-container-left-item">
                            <img src="../img/pc/product-m.png" alt="">
                            <div>
                                <h4>MUI</h4>
                                <span>上万Star的前端框架</span>
                            </div>
                        </a>
                        <a href="#" class="product-container-left-item">
                            <img src="../img/pc/product-s.png" alt="">
                            <div>
                                <h4>5+Runtime</h4>
                                <span>增强HTML5的功能体验</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="product-container-right">
                    <div class="product-container-right-title">
                        <h4>运营服务</h4>
                        <span>帮你运营好应用</span>
                    </div>
                    <div class="product-container-right-body">
                        <a href="#" class="product-container-right-item">
                            <img src="../img/pc/product-right-uniAD.png" alt="">
                            <div>
                                <h4>uni-AD广告联盟</h4>
                                <span>帮助开发者变现</span>
                            </div>
                        </a>
                        <a href="#" class="product-container-right-item">
                            <img src="../img/pc/product-right-uni统计.png" alt="">
                            <div>
                                <h4>uni统计</h4>
                                <span>全端追踪，助力增长</span>
                            </div>
                        </a>
                        <a href="#" class="product-container-right-item">
                            <img src="../img/pc/product-right-应该发行平台.png" alt="">
                            <div>
                                <h4>应用发行平台</h4>
                                <span>帮助开发者获取用户</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Android导航栏 -->
    <section class="Android-nav">
        <div class="Android-nav-logo">
            <img src="../img/pc/logo.png" alt="">
        </div>
        <div class="Android-nav-text">
            <div><a href="#">首页</a></div>
            <div><a href="#">文档</a></div>
            <div><a href="#">社区</a></div>
            <div><a href="#">插件市场</a></div>
            <div><a href="#">原生开发者支持</a></div>
            <div><a href="#">案例</a></div>
            <div><a href="#">商业许可</a></div>
            <div><a href="#">求贤</a></div>
            <div><a href="#">联盟</a></div>
            <div><a href="#">新冠抗疫</a></div>
            <div><a href="#">开发者后台</a></div>
        </div>
    </section>
    <div class="product">
        <div class="product-container">
            <div class="product-container-left">
                <div class="product-container-left-title">
                    <h4>开发服务</h4>
                    <span>帮你做好应用</span>
                </div>
                <div class="product-container-left-body">
                    <a href="#" class="product-container-left-item">
                        <img src="../img/pc/product-HBuilderX.png" alt="">
                        <div>
                            <h4>HBuilderX</h4>
                            <span>极客开发工具</span>
                        </div>
                    </a>
                    <a href="#" class="product-container-left-item">
                        <img src="../img/pc/product-uni-app.png" alt="">
                        <div>
                            <h4>uni-app</h4>
                            <span>开发一次，多端覆盖</span>
                        </div>
                    </a>
                    <a href="#" class="product-container-left-item">
                        <img src="../img/pc/product-uniCloud.png" alt="">
                        <div>
                            <h4>uniCloud</h4>
                            <span>js开发服务器</span>
                        </div>
                    </a>
                    <a href="#" class="product-container-left-item">
                        <img src="../img/pc/product-w.png" alt="">
                        <div>
                            <h4>wap2app</h4>
                            <span>M站快速转换App</span>
                        </div>
                    </a>
                    <a href="#" class="product-container-left-item">
                        <img src="../img/pc/product-m.png" alt="">
                        <div>
                            <h4>MUI</h4>
                            <span>上万Star的前端框架</span>
                        </div>
                    </a>
                    <a href="#" class="product-container-left-item">
                        <img src="../img/pc/product-s.png" alt="">
                        <div>
                            <h4>5+Runtime</h4>
                            <span>增强HTML5的功能体验</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="product-container-right">
                <div class="product-container-right-title">
                    <h4>运营服务</h4>
                    <span>帮你运营好应用</span>
                </div>
                <div class="product-container-right-body">
                    <a href="#" class="product-container-right-item">
                        <img src="../img/pc/product-right-uniAD.png" alt="">
                        <div>
                            <h4>uni-AD广告联盟</h4>
                            <span>帮助开发者变现</span>
                        </div>
                    </a>
                    <a href="#" class="product-container-right-item">
                        <img src="../img/pc/product-right-uni统计.png" alt="">
                        <div>
                            <h4>uni统计</h4>
                            <span>全端追踪，助力增长</span>
                        </div>
                    </a>
                    <a href="#" class="product-container-right-item">
                        <img src="../img/pc/product-right-应该发行平台.png" alt="">
                        <div>
                            <h4>应用发行平台</h4>
                            <span>帮助开发者获取用户</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 二维码 -->
    <div class="wx">
        <img src="../img/pc/二维码.jpg" alt="">
    </div>


    <main>
        <div class="banner">
            <div class="banner-box">
                <div class="banner-box1">
                    <section class="banner-box1-text">
                        <h2>HBuilder</h2>
                        <p class="banner-box1-text-max">500万开发者的选择</p>
                        <p class="banner-box1-text-min1">极客工具，追求快，没有止境</p>
                        <p class="banner-box1-text-min2">更好的<span>Vue、markdown</span>编辑器</p>
                        <p class="banner-box1-text-min2">保护视力、保护手指</p>
                        <span class="banner-box1-text-know">了解更多</span>
                    </section>
                    <img src=" ../img/pc/banner-HBuilder.png " alt=" ">
                </div>
                <div class="banner-box2">
                    <section class="banner-box2-text">
                        <p class="banner-box2-text-max">10亿活跃手机用户</p>
                        <p class="banner-box2-text-min">在使用DCloud工具开发的应用</p>
                        <span class="banner-box2-text-know">了解更多</span>
                    </section>
                    <img src="../img/pc/banner-uni-app.png" alt="">
                    <!-- <div class="banner-box2-img"></div> -->
                </div>
            </div>

            <!-- 左右按钮 -->
            <div class="banner-button">
                <div class="banner-button-left buttons">
                    <span class="iconfont icon-zuo"></span>
                </div>
                <div class="banner-button-right buttons">
                    <span class="iconfont icon-zuo1"></span>
                </div>
            </div>
        </div>
        <!-- 小圆点 -->
        <div class="banner-dot">
            <span class="banner-dot1 buttons-dot banner-dots-big"></span>
            <span class="banner-dot2 buttons-dot"></span>
        </div>
        <!-- 我们这样做 -->
        <div class="container">
            <div class="container-text">
                <h4>我们这样做</h4>
                <span>We do this</span>
                <div>为开发者、为梦想</div>
            </div>
            <div class="content">
                <div class="content-row">
                    <img src="../img/pc/article.png" alt="">
                    <div class="article-line"></div>
                    <div class="article">
                        <h4><a href="#">csdn刊载DCloud CEO文章，你是否知道DCloud才是小程序行业鼻祖？</a></h4>
                        <span>2019年6月24日</span>
                        <p>波澜壮阔的小程序技术演进史，乱世之后，终将统一</p>
                    </div>
                </div>
                <div class="content-row">
                    <div class="article">
                        <h4><a href="#">主流跨端开发框架深度横评2020版</a></h4>
                        <span>2020年4月09日</span>
                        <p>uni-app全方位制霸？详细数据评测必须要看</p>
                    </div>
                    <div class="article-line"></div>
                    <div class="article">
                        <h4><a href="#">阿里小程序IDE官方内嵌uni-app</a></h4>
                        <span>2019年10月12日</span>
                        <p>阿里巴巴与DCloud联合为开发者提供多端开发服务</p>
                    </div>
                    <div class="article-line"></div>
                    <div class="article">
                        <h4><a href="#">vue conf 2019大会上DCloud CTO的演讲</a></h4>
                        <span>2019年6月24日</span>
                        <p>uni-app的性能为什么更高？戳这个视频，CTO为你解密框架底层原理</p>
                    </div>
                    <div class="article-line"></div>
                </div>
            </div>
        </div>

        <!-- 他们这么说 -->
        <div class="lun-container">
            <div class="lun-container-text">
                <h4>他们这么说</h4>
                <span>We do this</span>
                <div>为开发者、为梦想</div>
            </div>
            <div class="lun-content">
                <div class="lun-content-banner">
                    <!-- 轮播图 -->
                    <ul class="lun-content-banner-box">
                        <li class="lun-content-banner1 lun-banner-ft" index='0'>
                            <div class="lun-content-row">
                                <h4>蒋涛</h4>
                                <span>全球最大中文IT社区CSDN创始人</span>
                                <div class="lun-content-img1"></div>
                                <p>移动云时代，全球开发者工具服务正在发生巨大变革：产品体验变革（消费者体验化），商业模式变革（Freemium免费增值），技术变革（开源开放云服务）。非常高兴看到国内创业公司推出HBuilder，代表了新一代开放服务的方向，基于持续更新的云知识库的高效开放工具，让开发者更加专注于解决问题本身，让技术服务变得更智能。</p>
                            </div>
                        </li>
                        <li class="lun-content-banner2 lun-banner-ft" index='1'>
                            <div class="lun-content-row">
                                <h4>王淮</h4>
                                <span>Facebook早期民工</span>
                                <div class="lun-content-img2"></div>
                                <p>移动云时代，全球开发者工具服务正在发生巨大变革：产品体验变革（消费者体验化），商业模式变革（Freemium免费增值），技术变革（开源开放云服务）。非常高兴看到国内创业公司推出HBuilder，代表了新一代开放服务的方向，基于持续更新的云知识库的高效开放工具，让开发者更加专注于解决问题本身，让技术服务变得更智能。
                                </p>
                            </div>
                        </li>
                        <li class="lun-content-banner3 lun-banner-ft" index='2'>
                            <div class="lun-content-row">
                                <h4>红薯</h4>
                                <span>开源中国创始人</span>
                                <div class="lun-content-img3"></div>
                                <p>移动云时代，全球开发者工具服务正在发生巨大变革：产品体验变革（消费者体验化），商业模式变革（Freemium免费增值），技术变革（开源开放云服务）。非常高兴看到国内创业公司推出HBuilder，代表了新一代开放服务的方向，基于持续更新的云知识库的高效开放工具，让开发者更加专注于解决问题本身，让技术服务变得更智能。
                                </p>
                            </div>
                        </li>
                        <li class="lun-content-banner4 lun-banner-ft" index='3'>
                            <div class="lun-content-row">
                                <h4>阴明</h4>
                                <span>掘金创始人</span>
                                <div class="lun-content-img4"></div>
                                <p>移动云时代，全球开发者工具服务正在发生巨大变革：产品体验变革（消费者体验化），商业模式变革（Freemium免费增值），技术变革（开源开放云服务）。非常高兴看到国内创业公司推出HBuilder，代表了新一代开放服务的方向，基于持续更新的云知识库的高效开放工具，让开发者更加专注于解决问题本身，让技术服务变得更智能。
                                </p>
                            </div>
                        </li>
                        <li class="lun-content-banner5 lun-banner-ft" index='4'>
                            <div class="lun-content-row">
                                <h4>田爱娜</h4>
                                <span>HTML5梦工场发起人</span>
                                <div class="lun-content-img5"></div>
                                <p>移动云时代，全球开发者工具服务正在发生巨大变革：产品体验变革（消费者体验化），商业模式变革（Freemium免费增值），技术变革（开源开放云服务）。非常高兴看到国内创业公司推出HBuilder，代表了新一代开放服务的方向，基于持续更新的云知识库的高效开放工具，让开发者更加专注于解决问题本身，让技术服务变得更智能。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 下面的小点点 -->
                <ol class="lun-content-dot-box">
                    <li class="lun-content-dot on"></li>
                    <li class="lun-content-dot"></li>
                    <li class="lun-content-dot"></li>
                    <li class="lun-content-dot"></li>
                    <li class="lun-content-dot"></li>
                </ol>
                <!-- 左右按钮 -->
                <div class="lun-content-left lun-content-btn">
                    <!-- <span class="iconfont icon-zuo"></span> -->
                </div>
                <div class="lun-content-right lun-content-btn">
                    <!-- <span class="iconfont icon-zuo1"></span> -->
                </div>
            </div>

        </div>
    </main>
    <footer>
        <div class="footer-box">
            <div class="footer-content">
                <div class="footer-content-logo">
                    <img src="../img/pc/logo.png" alt="">
                </div>
                <p class="footer-content-text-left">
                    <span>DCloud 即数字天堂（北京）网络技术有限公司是</span>
                </p>
                <div class="footer-content-text-right">
                    <a href="#">W3C</a>成员及
                    <a href="#">HTML5中国产业联盟</a>发起单位
                </div>
                <a href="#" class="domain">蒙ICP备14002744号-1</a>
            </div>
        </div>
    </footer>
    <script src="../js/index.js "></script>
    <script src="../js/lun.js"></script>
    <script src="../js/lun1.js"></script>
    <script>
    </script>
</body>

</html>